.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

label{
  font-size: small !important;
  color:#7c8490;
  font-weight: 600;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}






/* Mobiles/////////////////////////////////////////////////////////////////////////////////////////////////////////////// */



@media only screen and (max-width: 700px) {








  .steps{
    margin-left: -10px !important;
    margin-right: 20px !important;
  }

/* Form1 contents///////////////////////////////////////////////////////////// */


  .Form1{
  
   width:330px !important;
  margin-left: 20px !important;
  height: 900px !important;
    
  }


  .Service-type{
      
     margin-right: -700px;
  }

  .Pickdate{
        margin-top: 170px;
        margin-left: -200px;
        width:100px
  }



  .Picktime{
    margin-top: 300px;
    margin-left: -520px;
    width:100px
   
}


.passengers{
  position: absolute;
  margin-top: 400px;
  margin-left:-740px;
  width:100px
}



.toAirportPickup{
position:absolute !important;
left: 55px !important;
top:100px !important;

  

}

.toAirportPickup input{
  width: 240px !important;
}


.toAirportPickuplabel{
  position:absolute !important;
left: 0px !important;
}


.toAirportDropoff{
  position:absolute !important;
  left: 55px !important;
  top:200px !important;
  
}

.toAirportDropofflabel{
  position:absolute !important;
  left: 0px !important;
}

.airportinput input{
  width: 240px !important;
}
  


.FromAirport{
  position:absolute !important;
left: -20px !important;
top:400px !important;

}

.FromAirportlabel{
   position:absolute !important;
left: 0px !important;
}

.FromAirportinput input{
  width:240px !important
}



.FromAirportdropoff{
  position:absolute !important;
  left: 105px !important;
  top:200px !important;
  
}
 .FromAirportdropofflabel{
  position:absolute !important;
  left: 0px !important;
}

.FromAirportdropoff input{
  width: 240px !important;
}

.PointtoPoint{
  position:absolute !important;
left: -20px !important;
top:400px !important;
}

.PointtoPointlabel{
  position:absolute !important;
  left: 0px !important;
}


.PointtoPoint input{
  width: 240px !important;
}

.PointtoPointdropoff{
  position:absolute !important;
  left: 105px !important;
  top:160px !important;
}

.PointtoPointdropofflabel{
  position:absolute !important;
  left: 0px !important;
}



.PointtoPointdropoff input{
      width: 240px !important;
}

/* Hourly qurter///////////////////////////////////////// */

.ServiceHours{
  position: absolute;
  margin-top: 410px;
  margin-left:-700px;
  width:100px
}


.occassion{
  position: absolute;
  margin-top: 480px;
  margin-left:-920px;
  width:100px
}


.pickuplocation{
  position:absolute !important;
  left: 80px !important;
  top:700px !important;
}



.hqairport{
 position: absolute !important;
margin-left: -24px !important;
  top:600px !important
}


.hqinput input{
  width: 240px !important;
}

.hqddress {
  position: absolute !important;
margin-left: -24px !important;
  top:800px !important
  
}

.hqddress input{
  width: 240px !important;
}




.smalldiv{
    overflow-y:scroll !important;
    overflow-x: hidden !important;
  
    height: 150px !important;
}


.smalldiv::-webkit-scrollbar {
  width: 7px;
    
  
}

.smalldiv::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
 
}

.smalldiv::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.hqdropoffinput input{
  width: 240px !important;
}

.hqdropoffaddinput input{
  width: 240px !important;
}

.stopbutton{
  margin-top: 590px !important;
  margin-left: -700px;
  
}
 


.stopbutton img{
  margin-left: -50px;
}








  /* Form2 contents///////////////////////////////////////////////////////////// */
  .Form2{
    width:330px !important;
  margin-left: 20px !important;
  height:1000px !important;
  }
  
  .Form2-Strip{
    width:330px !important;
  margin-left: 0px !important;
 
  }

 
  .table p{
    font-size: 10px;
  }
    

  .car-image{
    width:60px;
  }
    
/* Form3 contents///////////////////////////////////////////////////////////// */



.order-info{
  position: relative !important;
  
  left:-180px !important

}

.extras {
  margin-top: 20px !important;
  margin-left: -180px !important;
  width:330px !important;
  font-size: 6px !important;
  height: 300px !important;

}


.extras h4{
  font-size: 15px;
}

.strip{
  width:330px !important;
}

.extras img{
  width: 50px ;
}


.button1{
  position: absolute !important;
  margin-top: 340px !important;
  left:-130px !important; 

}


/* Form4/////////////////////////////////////////////////////////////////// */


.order-info1{
  position: relative !important;
  
  left:-180px !important;


}

.extras1 {
  margin-top: 60px !important;
  margin-left: -180px !important;
  width:330px !important;
  font-size: 6px !important;
  height: 1000px !important;

}


.extras1 h4{
  font-size: 15px;
}

.strip1{
  width:330px !important;
  height: 20px !important;
}


.reservform{
  position: relative;
  top:20px;
  height: 350px;
  
}

.personal{
  margin-top: -80px;
  margin-left: -20px;
  width: 330px !important;
}

.phonenu{
 position: relative;
  left:-350px;
 
}

.emailaddress{
  position: relative;
  
  top:150px !important;
}

.lastname{
  position: relative;
  left:-350px;
  top:90px !important;
 
}

.creditinfo{
  position: relative;
  top:0px;

}


.strip3{
  margin-top: -280px;
  margin-left: -20px;
  width: 330px !important;
 
}

.expdate{
  position: relative;
  left:-300px;
  top:100px !important;
}
.explabel{
  margin-top: -28px !important;
}

.expyears{
 position: absolute;
 top:80px;
}

.cvv{
  position: relative;
  left:-300px;
  top:100px !important;
}

.zipcode{
  
  position: relative;
 
  top:130px !important;
}


.strip4{
  margin-top: -380px;
  margin-left: -20px;
  width: 330px !important;
}

.others{
  position: relative;
  top:-10px !important;
}

.special{
  position: relative;
  top:90px !important;
}

.button2{
  position: absolute !important;
  margin-top: 40px !important;
  left:-930px !important; 
  
}


}

